<div id="navContainer" onresize="resizeFunction()">
    <div id="navToggle" ng-click="toggleNav()"><i class="fa fa-bars"></i></div>
    <div id="navLogo">
        <img src="./assets/images/mainLogo.jpeg" height="40" />
    </div>
    <div id="navList" ng-class="{'showNav' : showNav, 'hideNav': hideNav}">
        <div class="navItem" ng-class="{'active' : isActive('/home')}"><a href="/home">HOME</a></div>
        <div class="divider">|</div>
        <div class="navItem" ng-class="{'active' : isActive('/services')}"><a href="/services">SERVICES</a></div>
        <div class="divider">|</div>
        <div class="navItem" ng-class="{'active' : isActive('/causes')}"><a href="/causes">CAUSES OF WET BASEMENTS</a></div>
        <div class="divider">|</div>
        <div class="navItem" ng-class="{'active' : isActive('/process')}"><a href="/process">OUR PROCESS</a></div>
        <div class="divider">|</div>
        <div class="navItem" ng-class="{'active' : isActive('/about')}"><a href="/about">ABOUT US</a></div>
        <div class="divider">|</div>
        <div class="navItem"><a href="">REQUEST AN ESTIMATE</a></div>
    </div>

</div>
