<div id="navContainer" onresize="resizeFunction()">
    <div id="navToggle" ng-click="toggleNav()"><i class="fa fa-bars"></i></div>
    <div id="navNumbers">
        <!--<div class="number">(507) 226-1478</div>-->
        <img id="headerLogo" src="./assets/images/mainLogo.jpeg" height="60"/>
        <!--<div class="number">(651) 207-2312</div>-->
    </div>


    <div id="navList" ng-class="{'showNav' : showNav, 'hideNav': hideNav}">
        <div ng-click="changeRoute('home')" class="navItem" ng-class="{'active' : isActive('/home')}">HOME</div>
        <div class="divider">|</div>
        <div class="navItem" ng-click="changeRoute('services')" ng-class="{'active' : isActive('/services')}">SERVICES</div>
        <div class="divider">|</div>
        <div class="navItem" ng-click="changeRoute('causes')" ng-class="{'active' : isActive('/causes')}">CAUSES OF WET BASEMENTS</div>
        <div class="divider">|</div>
        <div class="navItem" ng-click="changeRoute('process')" ng-class="{'active' : isActive('/process')}">OUR PROCESS</div>
        <div class="divider">|</div>
        <div class="navItem" ng-click="changeRoute('about')" ng-class="{'active' : isActive('/about')}">ABOUT US</div>
        <div class="divider">|</div>
        <div ng-click="openContactModal()" class="navItem">REQUEST AN ESTIMATE</div>
    </div>

</div>
