<div class="mainPageCol">
    <div class="mainRowItem headerRow">
        <div class="transparentOverlay">
            <div class="header">MCF Waterproofing</div>
            <div class="subHeader">Local and family owned waterproofing serving Southern Minnesota, Southwest Wisconsin,
                and Northern Iowa with 15 years of experience</div>
            <div class="subHeader">We install custom interior waterproofing systems based on your needs</div>
            <button class="headerButton">Request an Estimate</button>
        </div>
    </div>
</div>
<div class="mainPageCol">
    <div class="mainRowItem pageNameRow">
        HOW DO YOU WATERPROOF?
    </div>
</div>
<div class="mainPageCol">
    <div class="mainRowItem waterProofBreakdown">
        <div class="breakdownOverlay">
            <div class="whiteHeader">OUR PROCESS</div>
            <div class="howDescription">We start by inspecting the interior of the basement, then provide an in-depth analysis and quote
                the same day. Our next step is to confirm the homeowner completely understands the analysis
                and services we can provide. When the quote is accepted, we begin work on the agreed upon
                date and will not complete any job until the customer is fully satisfied with the services provided.</div>
        </div>
    </div>
</div>
<div class="mainPageCol">
    <div class="mainRowItem dataList">
        <div class="dataListTitle">HOW WE WATERPROOF</div>
        <div class="dataListHeader">FIRST STEP - PREP</div>
        <div class="dataListText">We prep the home to prevent unnecessary dirtying of the unserviced areas.
            We create proper ventilation, and assure the ductwork is sealed off to prevent traveling dust.
        </div>
        <div class="dataListHeader">SECOND STEP - CONSTRUCTION</div>
        <div class="dataListText">We remove the basement floor from the quoted area, and dig
            the drain tile trench. If required, we will drill holes into the block walls to allow water to escape.
            Next we install the drain tile, sump basket and rock on top of and around the drain tile, and
            basket.
        </div>
        <div class="dataListHeader">THIRD STEP - ACTIVATION</div>
        <div class="dataListText">We hook up the pipes and discharge water from the home. Next we
            install drainage board which directs water into the drain tile then pour fresh concrete. Our final
            step is to the leave the serviced area better and cleaner than it was found.
        </div>
    </div>
</div>